body{
	background-color:#ededf0;
	letter-spacing: 0.8px; 

}
.logo{
	width:100px;
	font-family: 'Roboto',sans-serif;
	font-size: 12px;
  margin:25px;
}

.navigation_link{
	float:right;
   margin-top:25px;
  	margin-right: 34px;
}
a{
   font-family: 'Roboto',sans-serif;
	font-weight: 500;
	text-decoration: none;
	color:#b6bcc8;
	letter-spacing: 0.5px;
}
a:hover{
	text-decoration: none;
}
h1{
	font-family: 'playfair Display',serif;
	font-weight: 400;
	font-size:50px;
	line-height: 72px;
}

.hero{
	margin:10%;
  font-family: 'playfair Display', serif;}

.form_input{
	height:40px;
	padding:4% 0 3% 1.5%;
	border-width:0.5px;
	background-color: #ededf0;
	border:0.5px  solid #b6bcc8;
	font-size: 15px;
	font-weight:100;
}
#form_place{
	width: 38%;
	border-radius: 4px 0 0 4px;
	margin-right: -6px;
}
::-webkit-input-placeholder{
     font-family: "Roboto",sans-serif;
}
#form_person{
	margin-left: -6px;
}
#form_date{
	margin-right: -6px;
}
.search{
	font-size: 15px;
	background-color:#4887e0;
	border:0.5px solid #4887e0;
	text-align:center;
	border-radius:0 4px 4px 0;
	color:#fff;
	margin-left: -4px;
	font-family: "Roboto",sans-serif;
	height:40px;
	padding:3.18% 6% 3.82% 1.5%;
	border-width:0.5px;
	
}

.pascal{
	width:33.2%;
	height:500px;	
}
@media screen and (max-width:991px){
	.pascal{
      width:50%;
	}
}
@media screen and (max-width:767px){
	.pascal{
      width:100%;
	}
}
.patrick{
	width: 33.3%;
	height:500px;
	margin-left: -5px;
}
@media screen and (max-width:991px){
	.patrick{
      width:50%;
	}
}
@media screen and (max-width:767px){
	.patrick{
      width:100%;
	}
}
.image{
	width:33.4%;
	height:500px;
	margin-left: -4px;
}
@media screen and (max-width:991px){
	.image{
      width:50%;
	}
}

@media screen and (max-width:767px){
	.image{
      width:100%;
	}
}


.wanderlust{
    position:relative;
    top:-400px; 
	color:#fff;
}
@media screen and (max-width: 991px){
	.wanderlust{
      top:-800px;
	}
}
@media screen and (max-width: 767px){
	.wanderlust{
      top:-1400px;
	}
}
.derlust{
	position:relative;
	color:#fff;
	top:-400px; 

}
@media screen and (max-width: 991px){
	.derlust{
      top:-800px;
	}
}
@media screen and (max-width: 767px){
	.derlust{
      top:-1100px;
	}
}
.lust{
	position:relative;
	color:#fff;
	top:-400px; 
	
}
@media screen and (max-width: 991px){
	.lust{
      top:-600px;
	}
}
@media screen and (max-width: 767px){
	.lust{
      top:-900px;
	}
}

.featured{
	color:;
   font-family: 'Roboto',sans-serif;
   text-align: center;
   font-size: 14px; 
   margin-left: ;
}
.swim{
	font-size: 40px;
   color:;
   font-family: 'playfair Display',serif;
   text-align: center;
    line-height: 20px;
    font-weight: 10;
}

.swimming{
	line-height: 45px;
	}

.img_diameter{
	width:23px;
	margin-left:40%;
	padding-bottom: 20px;
	
}
.hawai_swim{

}
.hawai_swim1{
     font-size: 14px;
     line-height: 8px;
     font-family: 'Roboto', sans-serif;

}

.featured_1{
	color:;
   font-family: 'Roboto',sans-serif;
    font-size: 14px;
    text-align: center;
    margin-left:;
}

.cave{
   font-size: 40px;
   color:;
   font-family: 'playfair Display', serif;
   text-align: center;
    line-height: 20px;
    font-weight: 10;
}
.cave_bond{
	line-height: 45px;
}

.cave_las1{
	font-size: 14px;
	line-height: 8px;
    font-family: 'Roboto',sans-serif;
  
}

.img_di2{
	width:23px;
	margin-left:40%;
	padding-bottom: 20px;
}
.featured_2{
	color:#fff;
   font-family: 'Roboto',sans-serif;
    font-size: 14px;
    text-align: center;
    margin-left: ;
}
.under{
   font-size: 40px;
   color:;
  font-family: 'playfair Display',serif;
   text-align: center;
    line-height: 20px;
    font-weight: 10;
}
.deep_ocean1{
	font-size: 14px;
	line-height: 8px;
    font-family: 'Roboto',sans-serif;
}
.under_H{
	line-height: 45px;
}
.img_di3{
	width:23px;
	margin-left:40%;
	padding-bottom: 20px;
	color:#fff;
}
